body {
    background-color: white;
    background-image: url(people.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
a{
    text-decoration: none;
}
.navBar {
    font-size: 20px;
    font-family: Helvetica;
}

.title {
    font-size: 50px;
    font-family: helvetica;
}